/* Common styles */
.nobr {
  white-space:nowrap;
}

.blur {
  filter: url("data:image/svg+xml;utf8,<svg><filter id=\"blur\"><feGaussianBlur stdDeviation=\"10\"/></filter></svg>#blur");
  filter: blur(10px); 
  -webkit-filter: blur(10px); 
  -moz-filter: blur(10px);
  -o-filter: blur(10px); 
  -ms-filter: blur(10px);
}
/* !Common styles */

/* No javascript support message */
#no-js-support {
  background-color: #fff;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  font-weight: normal;
}

#no-js-support h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#no-js-support p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}
/* !No javascript support message */

/* no browser support message */
#browser-is-not-supported {
  background-color: #fff;
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483646;
  font-weight: normal;
}

html.no-multiplebgs #browser-is-not-supported,
html.no-fontface #browser-is-not-supported,
html.no-boxshadow #browser-is-not-supported,
html.no-backgroundsize #browser-is-not-supported,
html.no-csstransforms #browser-is-not-supported,
html.no-cssanimations #browser-is-not-supported,
html.no-cssgradients #browser-is-not-supported {
  display: block !important;
}

#browser-is-not-supported h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#browser-is-not-supported p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}

#browser-is-not-supported .browsers-list {
  text-align: center;
}

#browser-is-not-supported .browsers-list a {
  padding: 0 10px;
}

#browser-is-not-supported .ignore-my-browser {
  text-decoration: underline;
  cursor: pointer;
}
/* !no browser support message */

/* content loader */
#content-loader {
  z-index: 2147483645;
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(23,23,23,1)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: radial-gradient(ellipse at center, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  left: 50%;
  -webkit-animation: loader 2s infinite ease;
  -moz-animation: loader 2s infinite ease;
  -o-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
  -moz-animation: loader-inner 2s infinite ease-in;
  -o-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-moz-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-o-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* !content loader */

/* главная страница */
#part0 {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: Cambria, Arial, sans-serif;
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(23,23,23,1)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: radial-gradient(ellipse at center, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  -webkit-transition: all .6s ease-in;
  -o-transition: all .6s ease-in;
  -moz-transition: all .6s ease-in;
  -ms-transition: all .6s ease-in;
  -kthtml-transition: all .6s ease-in;
  transition: all .6s ease-in;
}

#part0 > .blur-container > .header {
  position: fixed;
  color: #fff;
  width: 32%;
  left: 34%;
  top: 2%;
  height: 16%;
  overflow: hidden;
  background-color: #5e5e5e;
  -moz-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  -o-transform: skewX(-25deg);
  transform: skewX(-25deg);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  -o-box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
}

#part0 > .blur-container > .header > h1 {
  height: 80%;
  font-weight: bold;
  font-style: italic;
  font-size: 2.8vh;
  -moz-transform: skewX(25deg);
  -ms-transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  -o-transform: skewX(25deg);
  transform: skewX(25deg);
  padding: 2% 30px 0 70px;
}


#part0 > .blur-container > .bg-container {
  position: fixed;
  left: 0;
  top: 20%;
  width: 100%;
  height: 72%;
  background-image: url("../img/bg_part0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bottom-link {
  position: fixed;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 36%;
  height: 4%;
  padding-top: 1%;
  left: 32%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #fff;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  background-color: #5e5e5e;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  -o-box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  font-family: Cambria, Arial, sans-serif;
}

.bottom-link:hover {
  height: 6%;
}

.bottom-link > span {
  font-weight: bold;
  font-style: italic;
  font-size: 2vh;
}
/* !главная страница */

/* содержание выставки */
#main-link {
  display: none;
}

#part1 {
  display: none;
  width: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(23,23,23,1)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  background-image: radial-gradient(ellipse at center, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 100%);
  -webkit-transition: all .6s ease-in;
  -o-transition: all .6s ease-in;
  -moz-transition: all .6s ease-in;
  -ms-transition: all .6s ease-in;
  -kthtml-transition: all .6s ease-in;
  transition: all .6s ease-in;
  padding: 100px 0 90px 0;
  font-family: "Times New Roman", serif;
  font-size: 1.4em;
}

#part1 .container {
  width: 70%;
  background-color: #fff;
  padding: 40px 50px;
  margin-left: 13%;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  -o-box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
  box-shadow: 5px 5px 0px 0px rgba(129,129,127,1);
}

#part1 .container .header {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  background-image: url("../img/bg_body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  font-size: 1.6em;
  text-align: center;
}

#part1 .container .header p {
  padding-top: 150px;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.9);
  font-family: Cambria, Arial, sans-serif;
  font-weight: bold;
}

#part1 .container .intro-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#part1 .container .intro-container .intro {
  font-style: italic;
  max-width: 50%;
  float: right;
  padding-bottom: 30px;
}

#part1 h1 {
  text-align: center;
  font-size: 1.6em;
}
/* !содержание выставки */

/* Блок с изображениями */
.fancybox-title a {
  color: #fff;
}

.images-container {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.images-container > p {
  margin: 0 0 1em 0;
}

.images-container > a {
  display: inline-block;
  padding: 1%;
}

.images-container > a > img {
  display: inline-block;
  max-width: 100%;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, .6);
}

.images-container.single > a {
  width: 97.5%;
}

.images-container.double > a {
  width: 47%;
}

.images-container.triple > a {
  width: 30%;
}

.images-container.quadruple > a {
  width: 22%;
}

.images-container .description {
  font-style: italic;
}
/* !Блок с изображениями */